@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


/* ===== Global layout ===== */

  .container {
    @apply w-full max-w-[1500px] mx-auto;
  }

  html {
    @apply h-full;
  }
  
  body {
    @apply min-h-full overflow-hidden;
  }